@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: #f7f7f7;
}
h1,
h3,
h4,
h4,
h5,
button {
  font-family: "Roboto", sans-serif;
}
